{% extends 'base.html.twig' %}

{% block header %}


{% endblock %}


{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12">

            {% for posts in post %}

            {{ posts.title }}
            {{ posts.description | striptags }}
            {{ posts.content | striptags }}
            <img src="upload/images/{{ asset(posts.mediaUrl) }}">


            {% endfor %}
        </div>
    </section>
</main>

{% endblock %} 

{% block footer %}

{% endblock %} 
