{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12">

            {% for item in post %}

            {{ item.title }}
            {{ item.description }}
            {{ item.content }}
            {{ item.mediaUrl }}


            {% endfor %}
        </div>
    </section>
</main>

{% endblock %} 
