{% extends 'base.html.twig' %}

{% block body %}


<h1 class="text-center"> Vos Rendez - vous </h1>

<div class="container">
    <section class="row border-top">

        <div class="col-10 offset-1">

        {{ form_start(formulaire) }}
            {{ form_widget(formulaire) }}
        {{ form_end(formulaire) }}

        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success m-5">
                {{ flashMessage }}
            </div>
        {% endfor %}

        </div>
    </section>
</div>

{% endblock %}
