{% extends 'base.html.twig' %}


{% block body %}


<h1 class="text-center"> Vos Rendez - vous </h1>

<div class="container">
    <section class="row border-top">

        <div class="col-10 offset-1">

        {{ form(formulaire)}}

        </div>
    </section>
</div>

{% endblock %}
