{% extends 'base.html.twig' %}

{% block body %}


<h1 class="text-center"> Rejoignez Nous</h1>

<div class="pt-4">
    <section class="container">
        <div class="row">
            {% for posts in post %}
                <div class="col-md-4">

                        <article class="card mb-4" id="art1">
                            <a href="{{ path('app_posts_show', {'slug': posts.slug}) }}">

                            <div class="card-body d-flex justify-content-center align-content-center">
                            {% if posts.mediaUrl is not null %}
                                <img src="upload/images/{{ asset(posts.mediaUrl) }}">
                            {% endif %}
                            </div>
                            <p class="mx-4 text-center">{{ posts.description | striptags }}</p>

                            </a>
                        </article>

                </div>
            {% endfor %}  
        </div>
    </section>
</div>

{% endblock %} 
