@import "~bootstrap/scss/bootstrap";
@import "assets/styles/login.scss";
@import "assets/styles/home.scss";
@import "assets/styles/header.scss";
@import "assets/styles/footer.scss";
@import "assets/styles/!home.scss";
@import "assets/styles/forms.scss";
@import "assets/styles/error.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

@media (max-width: 1200px) {
    * {
        font-size: 1.6rem;
    }

    .fade-in-left {
      opacity: 1!important;
      transform: translateX(0)!important;
      animation: none!important;
    }

    .fade-in-right {
      opacity: 1!important;
      transform: translateX(0)!important;
      animation: none!important;
    }

    .fade-in-up {
      opacity: 1!important;
      transform: translateX(0)!important;
      animation: none!important;
    }

    .fade-in-down {
      opacity: 1!important;
      transform: translateX(0)!important;
      animation: none!important;
    }
}

// ---------- animation gauche ----------
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-2000px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-left {
    opacity: 0;
    transform: translateX(-2000px);
    animation: fadeInLeft 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  // ---------- animation droite ----------
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(2000px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-right {
    opacity: 0;
    transform: translateX(2000px);
    animation: fadeInRight 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  // ---------- animation haut ----------
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-2000px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-up {
    opacity: 0;
    transform: translateY(-2000px);
    animation: fadeInUp 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  // ---------- animation bas ----------
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(2000px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-down {
    opacity: 0;
    transform: translateY(2000px);
    animation: fadeInDown 1s ease-in-out;
    animation-fill-mode: forwards;
  }