@import "~bootstrap/scss/bootstrap";
@import "assets/styles/_theme.scss";
@import "assets/styles/_login.scss";
@import "assets/styles/_home.scss";
@import "assets/styles/_header.scss";
@import "assets/styles/_show.scss";
@import "assets/styles/_about.scss";
@import "assets/styles/_support.scss";
@import "assets/styles/_contact.scss";
@import "assets/styles/_join.scss";
@import "assets/styles/_appointment.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.8em;
    font-family: 'Poppins', sans-serif;
}