#about_desc {
    margin-top : 290px !important;
    max-width: 80vw !important;
    border-radius: 20px !important;
}

.titles_top {
    position: absolute;
    z-index: 1000;
    top: 7%;
    left: 50%;
    transform: translateX(-55%);
    color: #0059C6!important;
}

small {
    background-color: hsla(0, 0%, 100%, 0.55)!important;
}

.pages_section {
    margin-top:200px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container-fluid {
    width: 80vw!important;
}

.content {
    background-color: hsla(0, 0%, 100%, 0.55);
    width: 100%;
    height: auto !important;
    border-radius: 20px !important;
}

.img_left {
    max-width: 1000px !important;
    height: auto !important;
    float: left;
    margin: 10px 20px 10px 0;
}

.img_right {
    max-width: 1000px !important;
    height: auto !important;
    float: right;
    margin: 10px 20px 10px 0;
}

.sub_content {
    height: 100%;
    padding: 20px 20px !important;
}

.sub_content p {
    text-align: left !important;
}

.sub_content #about_i {
    color: #0059C6!important;
font-size: 3rem !important;
}

@media (max-width: 1200px) { 
    .titlesTop {
        top: 19%;
    }

    .subTitles {
        padding-top: 200px;
    }

    .titles_top {
        top: 19%;
    }

    .sub_titles {
        padding-top: 200px;
    }

    .container-fluid {
        width: 90vw!important;
    }

    // .sub_content img {
    //     height: 50% !important;
    //     margin: 0 0 15px 0;
    // }
    .sub_content p {
        text-align: center !important;
    }

    .sub_content h1 {
        padding-bottom: 0!important;
    }

    .img_left {
        max-width: 80vw !important;
        height: auto !important;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .img_right {
        max-width: 80vw !important;
        height: auto !important;
        float: right;
        margin-left: 20px;
        margin-right: 20px;
    }

    .pages_section {
        margin-top:410px;
    }
}