.identity_page {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.about_boxone {
    margin-top: 5rem!important;
    margin-left: 10rem!important;
    margin-right: 10rem!important;
    max-height: 100vh!important;
    overflow: hidden;
}

.about_boxone img {
    padding: 0;
    margin: 10px!important;
    margin-left: 0;
    margin-right: 0;
    max-width: 700px!important;
    border-radius: 15px;
    max-height: 90vh!important;
}

.about_boxone h1 {
    margin: 0.8rem!important;
}

.about_boxone p {
    margin-top: 3rem!important;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    font-weight: bold;
}