#appointment_Aller_0 {
    margin: 10px!important;
  }

  #appointment_Aller_1 {
    margin: 10px!important;
  }

#appointment_ModeTransport_0 {
    margin: 10px!important;
}

#appointment_ModeTransport_1 {
    margin: 10px!important;
}

#appointment_Civilite_0 {
    margin: 10px!important;
}

#appointment_Civilite_1 {
    margin: 10px!important;
}

.identity {
    border-top: 2px solid!important;
    margin-top: 40px!important;
}

.details {
    border-top: 2px solid!important;
    margin-top: 40px!important;
}