#logo {
    width: 150px !important;
    height: auto !important;
}


#footer {
    padding: 50px 0 0 0!important;
    background-color: #0059C6;
    color: white;
}

#desktop_iframe {
    padding: 50px 80px!important;
}

 #footerAll {
     --bs-gutter-x: 0!important;
     max-width: 100vw !important
   }

.pCol {
    text-align: center !important;
    width: fit-content;
    padding: 0 100px !important;
}

.pCol h5 {
    font-size: 1.4rem!important;
}

.pCol p, .pCol p a, .pCol ul li, .pCol ul li a {
    color: white!important;
    display: inline;
}

.pCol ul li, .pCol ul li a:hover,
.pCol ul li, .pCol ul li a:focus {
    color: #b0b8bf!important;
}

@media (max-width: 1200px) {
    #logo {
        width: 400px !important;
        height: auto !important;
    }
    

    .pCol {
        margin-right: 50px !important;
        margin-left: 50px!important;
    }

    .pCol h5 {
        font-size: 2.5rem!important;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    iframe {
        padding: 50px 40px!important;
    }
    
    hr {
        display: none;
    }
}