.offcanvas {
    background-color: #0059C6!important;
}

.navbar {
    width: 100px!important;
    height: 100px!important;
    margin-left: auto!important;
    padding-top: 30px!important;
}

#logoHead {
    width: 200px;
    height: auto;
    position: fixed!important;
}

.countText {
    color: white;
    padding: 0 5px;
}

.count {
    color: #950D05;
    font-size: 1.5rem;
}

.menuButton {
    background-color: #0059C6!important;
}

.menuButtonIn {
    background-color: white!important;
}

.rounded {
    border-radius: 5px 0 0 5px!important;
}

.square {
    width: 100px;
    height: 100px;
    position: relative!important;
}

/* Menu icon centered */
.navbar-toggler {
    margin: 0!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    margin-right: -50%!important;
    transform: translate(-50%, -50%)!important;
}

#menuLogo {
    width: 300px; 
    height: auto;
    position: fixed!important;
}

.navbar-toggler-icon {
    width: 2rem!important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.offcanvas.offcanvas-end {
    width: 35vw!important;
}

.offcanvas ul {
    padding-top: 80px !important;
}

.offcanvas ul li a {
    display: inline;
    line-height: 50px;
}

.offcanvas ul li a:hover,
.offcanvas ul li a:focus  {
        color: #b0b8bf!important;
}


@media (max-width: 1199.98px) { 
    #offcanvasNavbarDark {
        width: 100vw!important;
    }

    #logoHead {
        display: none!important;
    }
    
 }