.offcanvas {
    background-color: #0059C6!important;
}

.navbar {
    width: 125px!important;
    height: 125px!important;
    margin-left: auto!important;
    padding-top: 30px!important;
}

#logoHead {
    width: 200px;
    height: auto;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

.menuButton {
    background-color: #0059C6!important;
    transition: transform 0.1s ease-in-out;
}

.menuButton:hover,
.menuButton:focus {
    transform: scale(1.1);
}

.menuButtonIn {
    background-color: white!important;
    transition: transform 0.1s ease-in-out;
}

.menuButtonIn:hover,
.menuButtonIn:focus {
    transform: scale(1.1);
}


.rounded {
    border-radius: 5px 0 0 5px!important;
}

.square {
    width: 125px;
    height: 125px;
    position: relative!important;
}

/* Menu icon centered */
.navbar-toggler {
    margin: 0!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    margin-right: -50%!important;
    transform: translate(-50%, -50%)!important;
}

#menuLogo {
    width: 300px; 
    height: auto;
    position: fixed!important;
}

.navbar-toggler-icon {
    width: 2.5rem!important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.offcanvas.offcanvas-end {
    width: 35vw!important;
}

.offcanvas ul {
    padding-top: 80px !important;
}

.offcanvas ul li a {
    display: inline;
    line-height: 65px;
}

.offcanvas ul li a:hover,
.offcanvas ul li a:focus  {
        color: #b0b8bf!important;
}

#mobileKey {
    display: none;
}


@media (max-width: 1200px) { 
    #logoHead {
        width: 400px;
        height: auto;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
    }

    #offcanvasNavbarDark {
        width: 100vw!important;
    }
    .navbar {
        width: 200px!important;
        height: 200px!important;
    }

    .square {
        width: 200px;
        height: 200px;
    }

    #menuLogo {
        width: 75%; 
        height: auto;
        position: fixed!important;
    }

    .offcanvas ul {
        padding-top: 200px !important;
    }

    .offcanvas ul li {
        padding-bottom: 80px !important;
    }
    
    .offcanvas ul li a {
        font-size: 2.5rem!important;
        line-height: 100px;
    }

    #desktopKey {
        display: none;
    }

    #mobileKey {
        display: initial;
    }
 }