#firstScreen {
    width: 100%;
}

body #compteur {
    font-size: 30px!important;
    margin: 3rem;
}

#boxOne {
    width: 800px!important;
    height: 400px!important;
    overflow: hidden;
}

#boxTwo {
    width: 350px!important;
    height: 400px!important;
    overflow: hidden;
}

#gridGallery img {
    max-width: 300px;
    max-height: 330px;
    margin: 10px;
    
}

#gridGallery p {
    font-size: 20px;
    font-weight: bold;
    text-align: center!important;
}

.box {
    align-items: center;
    justify-content: center;
  }
  
.box-image {
    background-size:cover;
    background-position: center center;
    margin: 10px;
    border-radius: 25px;
}

@media (min-width: 1400px) {
    #firstScreen {
        max-width: 100vw;
        height: 100vh;
    }
}

