#firstScreen {
    width: 100%;
}

body #compteur {
    font-size: 30px!important;
    margin: 3rem;
}

#boxOne {
    width: 800px!important;
    height: 400px!important;
}

#boxTwo {
    width: 350px!important;
    height: 400px!important;
}

#gridGallery img {
    max-width: 300px;
    max-height: 330px;
    margin: 10px;
}

#gridGallery p {
    margin-top: 100px;
    color: 0059C6;
    font-size: 15px;
    font-weight: bold;
    text-align: center!important;
}

.box {
    align-items: center;
    justify-content: center;
  }
  
.box-image {
    background-size:cover;
    background-position: center center;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid white;
}



@media (min-width: 1400px) {
    #firstScreen {
        max-width: 100vw;
        height: 100vh;
    }
}

