.join_form {
    margin: 20rem!important;
}

.join_boxone {
    margin-top: 5rem!important;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
    max-height: 100vh!important;
    overflow: hidden;
}

.join_boxone img {
    padding: 0;
    margin: 10px!important;
    margin-left: 0;
    margin-right: 0;
    max-width: 700px!important;
    border-radius: 15px;
    max-height: 90vh!important;
}

.join_boxone h1 {
    margin: 0.8rem;
}

.join_boxone p {
    margin-top: 3rem!important;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    font-weight: bold;
}