.showSection {
    margin-top: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container-fluid {
    width: 80vw!important;
}

.content {
    background-color: white;
    width: 100%;
    height: auto !important;
}

.imgL {
    max-width: 1000px !important;
    height: auto !important;
    float: left;
    margin: 10px 20px 10px 0;
}

.imgR {
    max-width: 1000px !important;
    height: auto !important;
    float: right;
    margin: 10px 20px 10px 0;
}

.subContent {
    height: 100%;
    padding: 20px 20px !important;
}

.subContent p {
    text-align: left !important;
}

@media (max-width: 1199.98px) { 
    .showScetion {
        background-size: auto;
    }

    .container-fluid {
        width: 90vw!important;
    }

    .subContent {
        height: auto;
    }

    .subCcontent img {
        height: 50% !important;
        margin: 0 0 15px 0;
    }
    .subContent p {
        text-align: center !important;
    }

    .subContent h1 {
        padding-bottom: 0!important;
    }
 }