@import "~bootstrap/scss/bootstrap";
@import "assets/styles/login.scss";
@import "assets/styles/home.scss";

.navbar img, footer img {
    width: 300px;
}

body {
    background-color: white;
}

p {
    color: goldenrod;
}