#logo {
    width: 150px !important;
    height: auto !important;
    border-radius: 15px;
}


#footer {
    padding: 50px 0 0 0!important;
    background-color: #0059C6;
    color: white;
}

 #footer-all {
     --bs-gutter-x: 0!important;
     max-width: 100vw !important
   }

.p-col {
    text-align: center !important;
    width: fit-content;
    padding: 0 100px !important;
}

.p-col h5 {
    font-size: 1.4rem!important;
}

.p-col p, .p-col p a, .p-col ul li, .p-col ul li a {
    color: white!important;
    display: inline;
}

.p-col ul li, .p-col ul li a:hover,
.p-col ul li, .p-col ul li a:focus {
    color: #b0b8bf!important;
}

@media (max-width: 1200px) {
    #logo {
        width: 400px !important;
        height: auto !important;
    }
    

    .p-col {
        margin-right: 50px !important;
        margin-left: 50px!important;
    }

    .p-col h5 {
        font-size: 2.5rem!important;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    iframe {
        padding: 50px 40px!important;
    }
    
    hr {
        display: none;
    }
}