/* Login page gradient */
.gradient-custom {
    /* fallback for old browsers */
    background: rgb(58,119,180);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(90deg, rgba(58,119,180,1) 0%, rgba(29,212,253,0) 50%, rgba(252,69,69,1) 100%);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(90deg, rgba(58,119,180,1) 0%, rgba(29,212,253,0) 50%, rgba(252,69,69,1) 100%);
}