{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12">

            {{ dump (post) }}

        </div>
    </section>
</main>

{% endblock %}
