{% block header %}


<nav class="navbar navbar-Light" aria-label="Light offcanvas navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img id="logo" src="{{ asset('Logo_T.png') }}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-bg-Light" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">

      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">La Clunysoise</h5>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/a-propos">A Propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prise-en-charge">Prise en charge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nous-rejoindre">Nous rejoindre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vos-rendez-vous">Vos rendez-vous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacts</a>
          </li>

          {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin">Gestion admin</a></li>
          {% endif %}


        </ul>
      </div>
      
    </div>

  </div>
</nav>


{% endblock %}