{% block header %}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="">
      Bootstrap
    </a>
  </div>
</nav>

{% endblock %}


{% block body %}

{% endblock %}


{% block footer %}

{% endblock %} 
