{% extends 'base.html.twig' %}


{% block body %}


<section class="pagesSection" style="background-image: url('{{ asset('background.png') }}');">
    <div class="container-fluid pt-5 pb-5">
        <div class="row content">
            <div class="col-lg-12 subContent">
                <h1 class="fw-bolder pb-5 text-center">{{ post.title }}</h1> 
                {% if post.mediaUrl %}
                <img class="img-fluid rounded-5 imgL" src="{{ asset('upload/images/' ~ post.mediaUrl) }}">
                {% endif %}
                <p>{{ post.content|striptags|replace({'&nbsp;': ''}) }}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}