{% extends 'base.html.twig' %}


{% block body %}


<article>
    <div class="text-center">
        <h1>{{ post.title }}</h1>
    </div>

    <div class="row">

        <div class="col-5">
            {% if post.mediaUrl is not null %}
            <img src="upload/images/{{ asset(post.mediaUrl) }}">
            {% endif %}
        </div>

        <div class="col-7">
            <p>{{ post.content|striptags|replace({'&nbsp;': ''}) }}</p>
        </div>

    </div>
</article>


{% endblock %}